:root {
  --light-color: #F6F66C;
  --accent-one-color: #E7B176;
  --accent-two-color: #DB3AE5;
  --dark-color: #8238D0;
  --black-color: #47179A;
  --white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.hide {
  display: none;
}

.myDIV:hover+.hide {
  display: block;
  color: var(--white);
  cursor: pointer;
}

#gradient {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  background-image: linear-gradient(180deg, var(--light-color), var(--accent-one-color), var(--accent-two-color), var(--dark-color));
}

h1,
h2 {
  color: var(--dark-color);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--black-color);
}

h3 {
  color: var(--dark-color);
}

h3,
h4 {
  font-weight: normal;
}

p {
  color: var(--light-color);
}

a {
  color: var(--white);
  text-decoration: none;
}